<!--File  name: footer,  Author's  name: Group 3,  web  site  name: Its Survey,  file  description: this file is to footer-->
<nav class="footer">
  <div class="foot container">
    <p class="text-muted">©Copyright Centennial College - Emerging Technology Group 3</p>
        <p><a href="#">Back to top</a></p>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/lib/bootstrap/js/transition.js"></script>
    <script src="/Scripts/lib/bootstrap/js/collapse.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/en-ca.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/Chart.min.js"></script>

    
  </body>
</html>
